body {
  margin: 0;
  padding: 10% 0;
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
	linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-size:30px 30px;
	background-position:0 0, 15px 15px;
	background-attachment: fixed;
}
.masked-img-container {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: 50px;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
